*, *::after, *::before {
    box-sizing: border-box;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.beer-list {
    display: table;
    margin: auto;
}

.beer-item {
    display: table;
    margin: auto;
    text-align: center;
}

.instruct {
    display: table;
    margin: auto;
    text-align: center;
}

.recipe-container {
    display: table;
    margin: auto;
    text-align: left;
}

.searchDiv {
    display: table;
    margin: auto;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 800px;
    height: 100vh; 
    max-width: 80%;
    max-height: 100%;
    display: flex;
    align-items: flex-start;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
     display: block;
    justify-content: space-between;
    align-items: auto;
    border-bottom: 1px solid black;

}

.modal-header .title {
    align-items: stretch;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    display: inline-grid;
    padding: 10px 15px;
    height: auto;
    max-height: 70;
    display: flex;
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


h1 { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px; font-style: normal; font-variant: normal;
    font-weight: 700; line-height: 26.4px;
}

h3 { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;   
}